h1 { 
    color: white;
}

body {
    margin: 0; /*Brings margin out to edges of viewport*/
    color: white; /*Default text color is white for easier visibility*/
}

div {
    /*border: 1px solid red;*/
    margin: 0;
}


#pageFrame { /*Header, Body, Footer: grid*/
    display: grid;
    grid-template-rows: minmax(50px, 10vh) 80vh minmax(50px, 10vh); /*figure out exact later*/
    flex-wrap: nowrap;
    margin: 0;
    
}

#headerRibbon {
    background-color: #171a21;
    display: flex;
    align-items: center;
}

#headerRibbon p {
    margin: 0 10px;
}

#frameBody {
    background-color: #1b2838;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footerRibbon {
    background-color: #171a21;
    display: flex;
    align-items: center;
}
