:root {
    --darkPrimaryBg: #171a21;
    --secondaryTextColor: #66c0f4;
    --medSecondaryBg: #1b2838;
    --lightPrimaryBg: #2a475e;
    --primaryTextColor: #c7d5e0;
    --ribbonTextColor: #ffffff;
}

h1 { 
    color: var(--primaryTextColor);
    font-weight: 700;
}

h1 ~ p {
    text-align: center;
}

#aboutH1 {
    color: var(--ribbonTextColor);
}
#aboutH1 ~ p {
    width: max(500px, 50vw);
}

.noSharedMsg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

body {
    margin: 0; /*Brings margin out to edges of viewport*/
    color: var(--primaryTextColor);
    font-size: min(3vw, 16px);
    font-family: 'Times New Roman';
}

div {
    margin: 0;
}


a {
    text-decoration: none;
    color: inherit;
    padding: 3px 5px;
}
p a:hover {
    background-color: var(--secondaryTextColor);
    border-radius: 3px;
    color: var(--ribbonTextColor);
    padding: 3px 5px;
}

p > .active {
    text-decoration: underline;
    color: var(--secondaryTextColor);
    font-weight: 500;
}


/*Helps override the default bootstrap settings*/
.darkPrimaryBg {
    color: var(--darkPrimaryBg);
}
.secondaryTextColor {
    color: var(--secondaryTextColor);
}
.medSecondaryBg {
    color: var(--medSecondaryBg);
}
.lightPrimaryBg {
    color: var(--lightPrimaryBg);
}
.primaryTextColor {
    color: var(--primaryTextColor);
}
.ribbonTextColor {
    color: var(--ribbonTextColor);
}


#pageFrame { /*Header, Body, Footer: grid*/
    display: grid;
    grid-template-rows: minmax(50px, 10vh) auto minmax(50px, 8vh);
    flex-wrap: nowrap;
    margin: 0;
    min-height: 100vh;
    min-width: 600px;
}

#headerRibbon {
    background-color: var(--darkPrimaryBg);
    color: var(--ribbonTextColor);
    display: flex;
    align-items: center;
    min-height: 8vh;
}

/*--------------------Header--------------------*/
#headerRibbon img {
    height: min(70px, 8vw);
    width: auto;
    max-width: 100%;
}


#headerRibbon p {
    margin: 0 10px;
}


/*--------------------Frame--------------------*/
#frameBody1 {
    background-color: var(--medSecondaryBg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#frameBody2 {
    background-color: var(--medSecondaryBg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    padding: 40px;
}

.isHidden {
    display: none;
}
.isVisible {
    display: grid;
}


/*--------------------Initial Screen--------------------*/
.textInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: fit-content;
}

.textInput label {
    margin-bottom: 5px;
}

#idSubmit {
    margin-top: 30px;
    border: 1px solid var(--darkPrimaryBg);
    border-radius: 5px;
    background-color: var(--ribbonTextColor);
    width: min(100px, 20vw);
    height: 40px;
    font-size: min(4vw, 22px);
}

#idSubmit:hover {
    background-color: var(--primaryTextColor);
    box-shadow: 1px 1px 5px black, -1px -1px 5px black;
    
}

#idSubmit:active {
    background-color: var(--secondaryTextColor);   
    box-shadow: 1px 1px 5px #111111, -1px -1px 5px #111111;
    color: white;
}


/*--------------------Entered Data Screen--------------------*/

/*Avatar*/
#avatarRow {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;
    width: 60vw;
    min-width: 650px;
}

.avatarNamePair {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.avatarNamePair label {
    margin-top: 5px;
    font-size: min(3vw, 20px);
}

.avatarBg {
    background-color: inherit;
    height: min(20vw, 120px);
    width: min(20vw, 120px);
}

.avatarBg > img {
    height: min(20vw, 120px);
    width: min(20vw, 120px);
    border-radius: 10px;
}


/*Accordion*/
.accordion {
    color: var(--primaryTextColor);
}

.accordion-header, .acordion-item {
    background-color: var(--medSecondaryBg);
}


.accordion-button {
    background-color: var(--medSecondaryBg);
    color: var(--ribbonTextColor);
}
.accordion-button:not(.collapsed) {
    background-color: var(--medSecondaryBg);
    color: var(--ribbonTextColor);
}
.accordion-button:after {
    filter: invert(1);
}
.accordion-button:focus {
    box-shadow: none;
}
.collapsing {
    transition: height 0.08s ease;
}


/*Game*/
.gameBox {
    border: 1px solid white;
    border-radius: 5px;
    color: var(--ribbonTextColor);
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 60vw;
    min-width: 650px;
}

.gameTitleRibbon {
    background-color: var(--medSecondaryBg);
}

.gameBoxBody {
    background-color: var(--lightPrimaryBg);
    /*height: fit-content;*/
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
}

.playtime {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 35px;
}
.playtime p {
    justify-self: center;
    margin: 0;
}


.achievementCount {
    /*border: 2px solid cyan;*/
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.achievementCount > p {
    align-self: center;
    margin-bottom: 5px;
}

.achievementCountBox {
    /*border: 1px dashed magenta;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--medSecondaryBg);
    padding: 12px 0;
}
.achievementCountBox p {
    margin: 0;
}


.achievementListBox {
    border: 1px solid white;
    background-color: var(--medSecondaryBg);
    display: flex;
    flex-direction: column;    
}


.listedAchievement {
    display: grid;
    grid-template-columns: 5% auto 10% 10%;
    margin: 0 30px 20px;
    min-width: 510px;
    height: auto
}

.listedAchievement img {
    align-self: center;
    margin: 0;
    height: min(20px, 5vw);
    width: auto;
    max-width: 100%;
}


.listedAchievement p {
    align-self: center;
    text-wrap: wrap;
    margin: 0 10px;
    padding: 0 8px;
}


.loadedButton {
    margin-top: 30px;
    border: 1px solid var(--darkPrimaryBg);
    border-radius: 5px;
    background-color: var(--ribbonTextColor);
    width: min(120px, 20vw);
    height: 40px;
    font-size: min(3vw, 20px);
}

.loadedButton:hover {
    background-color: var(--primaryTextColor);
    box-shadow: 1px 1px 5px black, -1px -1px 5px black;
    
}

.loadedButton:active {
    background-color: var(--secondaryTextColor);   
    box-shadow: 1px 1px 5px #111111, -1px -1px 5px #111111;
    color: white;
}

#expand {
    color: var(--lightPrimaryBg);
}
#shrink {
    background-color: var(--lightPrimaryBg);
    color: var(--ribbonTextColor);
    border-color: var(--primaryTextColor);
}


/*--------------------Footer--------------------*/
#footerRibbon {
    background-color: var(--darkPrimaryBg);
    color: var(--ribbonTextColor);
    display: flex;
    align-items: center;
}