:root {
    --darkPrimaryBg: #171a21;
    --secondaryTextColor: #66c0f4;
    --medSecondaryBg: #1b2838;
    --lightPrimaryBg: #2a475e;
    --primaryTextColor: #c7d5e0;
    --ribbonTextColor: #ffffff;
}

h1 { 
    color: var(--primaryTextColor);
}

body {
    margin: 0; /*Brings margin out to edges of viewport*/
    color: var(--primaryTextColor);
}

div {
    /*border: 1px solid red;*/
    margin: 0;
}




#pageFrame { /*Header, Body, Footer: grid*/
    display: grid;
    grid-template-rows: minmax(50px, 10vh) minmax(400px, 80vh) minmax(50px, 10vh); /*figure out exact later*/
    flex-wrap: nowrap;
    margin: 0;
}

#headerRibbon {
    background-color: var(--darkPrimaryBg);
    color: var(--ribbonTextColor);
    display: flex;
    align-items: center;
}

/*--------------------Header--------------------*/
#headerRibbon img {
    height: 100%;
    width: auto;
    max-width: 100%;
}


#headerRibbon p {
    margin: 0 10px;
}

/*--------------------Frame--------------------*/
#frameBody {
    background-color: var(--medSecondaryBg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.textInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.textInput label {
    margin-bottom: 5px;
}

#idSubmit {
    margin-top: 20px;
    border: 1px solid var(--darkPrimaryBg);
    border-radius: 3px;
    background-color: var(--ribbonTextColor);
}

#idSubmit:hover {
    background-color: var(--primaryTextColor);
    box-shadow: 1px 1px 5px, -1px -1px 5px;
}

#idSubmit:active {
    background-color: var(--secondaryTextColor);
    
}


/*--------------------Footer--------------------*/
#footerRibbon {
    background-color: var(--darkPrimaryBg);
    color: var(--ribbonTextColor);
    display: flex;
    align-items: center;
}
