:root {
    --darkPrimaryBg: #171a21;
    --secondaryTextColor: #66c0f4;
    --medSecondaryBg: #1b2838;
    --lightPrimaryBg: #2a475e;
    --primaryTextColor: #c7d5e0;
    --ribbonTextColor: #ffffff;
}

h1 { 
    color: var(--primaryTextColor);
}

body {
    margin: 0; /*Brings margin out to edges of viewport*/
    color: var(--primaryTextColor);
    font-size: min(3vw, 16px);
    font-family: 'Times New Roman';
}

div {
    /*border: 1px solid red;*/
    margin: 0;
}




#pageFrame { /*Header, Body, Footer: grid*/
    display: grid;
    grid-template-rows: minmax(50px, 10vh) auto minmax(50px, 8vh); /*figure out exact later*/
    flex-wrap: nowrap;
    margin: 0;
    min-height: 100vh;
    min-width: 600px;
}

#headerRibbon {
    background-color: var(--darkPrimaryBg);
    color: var(--ribbonTextColor);
    display: flex;
    align-items: center;
    min-height: 8vh;
}

/*--------------------Header--------------------*/
#headerRibbon img {
    height: min(70px, 8vw);
    width: auto;
    max-width: 100%;
}


#headerRibbon p {
    margin: 0 10px;
}


/*--------------------Frame--------------------*/
#frameBody1 {
    background-color: var(--medSecondaryBg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#frameBody2 {
    background-color: var(--medSecondaryBg);
    display: grid;
    grid-template-rows: minmax(200px, 1fr) repeat(auto, 6);
    align-items: start;
    justify-content: center;
    padding: 40px;
}


/*--------------------Initial Screen--------------------*/
.textInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: fit-content;
}

.textInput label {
    margin-bottom: 5px;
}

#idSubmit {
    margin-top: 30px;
    border: 1px solid var(--darkPrimaryBg);
    border-radius: 3px;
    background-color: var(--ribbonTextColor);
    width: min(100px, 20vw);
    height: 40px;
    font-size: min(4vw, 22px);
}

#idSubmit:hover {
    background-color: var(--primaryTextColor);
    box-shadow: 1px 1px 5px black, -1px -1px 5px black;
    
}

#idSubmit:active {
    background-color: var(--secondaryTextColor);   
    box-shadow: 1px 1px 5px #111111, -1px -1px 5px #111111;
    color: white;
}



/*--------------------Entered Data Screen--------------------*/


/*Avatar*/
#avatarDisplay {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;
}

.avatarNamePair {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.avatarNamePair label {
    margin-top: 5px;
    font-size: min(3vw, 20px);
}

.avatarBg {
    background-color: var(--darkPrimaryBg);
    height: min(20vw, 120px);
    width: min(20vw, 120px);
}

.avatarBg > img {
    height: min(20vw, 120px);
    width: min(20vw, 120px);
    
}






/*Game*/
#gameBox {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 60vw;
    min-width: 650px;
}

.gameTitleRibbon {
    background-color: var(--medSecondaryBg);
    align-self: center;
}


.gameBoxBody {
    background-color: var(--lightPrimaryBg);
    height: fit-content;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;

}

.playtime {
    /*border: 1px solid red;*/

    display: flex;
    justify-content: space-evenly;
    margin-bottom: 35px;
}



.achievementCount {
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: column;
}

.achievementCount > p {
    align-self: center;
    margin-bottom: 5px;
}


.achievementCountBox {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--medSecondaryBg);
    margin-bottom: 25px;
}




.achievementListBox {
    /*border: 1px dashed cyan;*/

    background-color: var(--medSecondaryBg);
    display: flex;
    flex-direction: column;    
    padding-top: 30px;
}



.listedAchievement {
    border: 1px dashed yellowgreen;

    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0 30px 20px;
    min-width: 510px;
    min-height: 20px;
    height: fit-content;
}

.listedAchievement img {
    border: 1px solid white;
    align-self: center;
    margin: 0;
    height: min(20px, 5vw);
    
    width: auto;
    max-width: 100%;


}

.listedAchievement p {
    border: 1px solid white;
    align-self: center;
    margin: 0;
    height: min(20px, 5vw);
}



/*--------------------Footer--------------------*/
#footerRibbon {
    background-color: var(--darkPrimaryBg);
    color: var(--ribbonTextColor);
    display: flex;
    align-items: center;
}
